.s{
    color: white;
    padding-left: 19%;;
    padding-right: 10px;
    /* position: absolute; */
    display: flex;
    align-items: center;
    justify-content: center; 
}
.skill1{
    height: 120px;
    width: 120px;
    transform: rotate(90deg);
}