.a{
    width: 100%;
    height: 100%;
    padding-left: 19%;;
    padding-right: 10px;
    /* position: absolute; */
    display: flex;
    align-items: center;
    justify-content: center; 
}
.container{
    margin: 20px 0px;
    padding-bottom: 20px;
}
.heading{
    font-weight: bold;
    color: #173b6c;
    font-family: "Raleway", sans-serif;
}
.desc{
    font-size: 22px;
}
ul{
    list-style: none;
    padding-left: 0px;
}
.about-img{
    padding-right: 10px;
    max-width: 100%;
    height: min-content;
}
.row{
    font-size: 20px;
}
li{
    padding: 10px 0px;
}
.bottom{
    font-size: medium;
}