body {
    overflow-x: hidden;
}

.i {
    display: flex;
    /* height: 100vh; */
    overflow-wrap: break-word;
}
.i-right {
    width: 100%;
    /* height: 100vh; */
    min-height: 100svh;
    height: max-content;
    padding-bottom: 5%;
    padding-left: 300px;
    padding-right: 0px;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-image: url("data:image/svg+xml;utf8,%3Csvg viewBox=%220 0 2000 1400%22 xmlns=%22http:%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Cmask id=%22b%22 x=%220%22 y=%220%22 width=%222000%22 height=%221400%22%3E%3Cpath fill=%22url(%23a)%22 d=%22M0 0h2000v1400H0z%22%2F%3E%3C%2Fmask%3E%3Cpath fill=%22%23000336%22 d=%22M0 0h2000v1400H0z%22%2F%3E%3Cg style=%22transform-origin:center center%22 clip-rule=%22evenodd%22 stroke=%22%234c4e72%22 stroke-width=%223.2%22 mask=%22url(%23b)%22%3E%3Cg fill=%22none%22%3E%3Cpath d=%22M388.5 32.353v64.01l55.497 32.007V64.36L388.5 32.353ZM443.997 128.37 499.5 96.363v-64.01L443.997 64.36v64.01Z%22 stroke-width=%221.184%22%2F%3E%3Cpath d=%22M388.5 32.353 443.997.35 499.5 32.353 443.997 64.36 388.5 32.353Z%22 stroke-width=%221.184%22%2F%3E%3C%2Fg%3E%3Cg fill=%22none%22%3E%3Cpath d=%22M610.5 32.353v64.01l55.497 32.007V64.36L610.5 32.353ZM665.997 128.37 721.5 96.363v-64.01L665.997 64.36v64.01Z%22 stroke-width=%221.184%22%2F%3E%3Cpath d=%22M610.5 32.353 665.997.35 721.5 32.353 665.997 64.36 610.5 32.353Z%22 stroke-width=%221.184%22%2F%3E%3C%2Fg%3E%3Cg fill=%22none%22%3E%3Cpath d=%22M721.5 32.353v64.01l55.497 32.007V64.36L721.5 32.353ZM776.997 128.37 832.5 96.363v-64.01L776.997 64.36v64.01Z%22 stroke-width=%221.184%22%2F%3E%3Cpath d=%22M721.5 32.353 776.997.35 832.5 32.353 776.997 64.36 721.5 32.353Z%22 stroke-width=%221.184%22%2F%3E%3C%2Fg%3E%3Cg fill=%22none%22%3E%3Cpath d=%22M943.5 32.353v64.01l55.497 32.007V64.36L943.5 32.353ZM998.997 128.37l55.503-32.007v-64.01L998.997 64.36v64.01Z%22 stroke-width=%221.184%22%2F%3E%3Cpath d=%22M943.5 32.353 998.997.35l55.503 32.003-55.503 32.007L943.5 32.353Z%22 stroke-width=%221.184%22%2F%3E%3C%2Fg%3E%3Cg fill=%22none%22%3E%3Cpath d=%22M1054.5 32.353v64.01l55.497 32.007V64.36L1054.5 32.353ZM1109.997 128.37l55.503-32.007v-64.01l-55.503 32.007v64.01Z%22 stroke-width=%221.184%22%2F%3E%3Cpath d=%22M1054.5 32.353 1109.997.35l55.503 32.003-55.503 32.007-55.497-32.007Z%22 stroke-width=%221.184%22%2F%3E%3C%2Fg%3E%3Cg fill-rule=%22evenodd%22%3E%3Cpath d=%22M1165.5 32.353v64.01l55.497 32.007V64.36L1165.5 32.353Z%22 fill=%22%234c4e7288%22 stroke-width=%221.184%22%2F%3E%3Cpath d=%22m1220.997 128.37 55.503-32.007v-64.01l-55.503 32.007v64.01Z%22 fill=%22%234c4e725f%22 stroke-width=%221.184%22%2F%3E%3Cpath d=%22M1165.5 32.353 1220.997.35l55.503 32.003-55.503 32.007-55.497-32.007Z%22 fill=%22%234c4e7230%22 stroke-width=%221.184%22%2F%3E%3C%2Fg%3E%3Cg fill=%22none%22%3E%3Cpath d=%22M1498.5 32.353v64.01l55.497 32.007V64.36L1498.5 32.353ZM1553.997 128.37l55.503-32.007v-64.01l-55.503 32.007v64.01Z%22 stroke-width=%221.184%22%2F%3E%3Cpath d=%22M1498.5 32.353 1553.997.35l55.503 32.003-55.503 32.007-55.497-32.007Z%22 stroke-width=%221.184%22%2F%3E%3C%2Fg%3E%3Cg fill=%22none%22%3E%3Cpath d=%22M1609.5 32.353v64.01l55.497 32.007V64.36L1609.5 32.353ZM1664.997 128.37l55.503-32.007v-64.01l-55.503 32.007v64.01Z%22 stroke-width=%221.184%22%2F%3E%3Cpath d=%22M1609.5 32.353 1664.997.35l55.503 32.003-55.503 32.007-55.497-32.007Z%22 stroke-width=%221.184%22%2F%3E%3C%2Fg%3E%3Cg fill=%22none%22%3E%3Cpath d=%22M1831.5 32.353v64.01l55.497 32.007V64.36L1831.5 32.353ZM1886.997 128.37l55.503-32.007v-64.01l-55.503 32.007v64.01Z%22 stroke-width=%221.184%22%2F%3E%3Cpath d=%22M1831.5 32.353 1886.997.35l55.503 32.003-55.503 32.007-55.497-32.007Z%22 stroke-width=%221.184%22%2F%3E%3C%2Fg%3E%3Cg fill=%22none%22%3E%3Cpath d=%22M1942.5 32.353v64.01l55.497 32.007V64.36L1942.5 32.353ZM1997.997 128.37l55.503-32.007v-64.01l-55.503 32.007v64.01Z%22 stroke-width=%221.184%22%2F%3E%3Cpath d=%22M1942.5 32.353 1997.997.35l55.503 32.003-55.503 32.007-55.497-32.007Z%22 stroke-width=%221.184%22%2F%3E%3C%2Fg%3E%3Cg fill-rule=%22evenodd%22%3E%3Cpath d=%22M0 128.553v64.01l55.497 32.007v-64.01L0 128.553Z%22 fill=%22%234c4e72e2%22 stroke-width=%221.184%22%2F%3E%3Cpath d=%22M55.497 224.57 111 192.563v-64.01L55.497 160.56v64.01Z%22 fill=%22%234c4e729e%22 stroke-width=%221.184%22%2F%3E%3Cpath d=%22M0 128.553 55.497 96.55 111 128.553 55.497 160.56 0 128.553Z%22 fill=%22%234c4e724f%22 stroke-width=%221.184%22%2F%3E%3C%2Fg%3E%3Cg fill=%22none%22%3E%3Cpath d=%22M666 128.553v64.01l55.497 32.007v-64.01L666 128.553ZM721.497 224.57 777 192.563v-64.01l-55.503 32.007v64.01Z%22 stroke-width=%221.184%22%2F%3E%3Cpath d=%22m666 128.553 55.497-32.003L777 128.553l-55.503 32.007L666 128.553Z%22 stroke-width=%221.184%22%2F%3E%3C%2Fg%3E%3Cg fill=%22none%22%3E%3Cpath d=%22M888 128.553v64.01l55.497 32.007v-64.01L888 128.553ZM943.497 224.57 999 192.563v-64.01l-55.503 32.007v64.01Z%22 stroke-width=%221.184%22%2F%3E%3Cpath d=%22m888 128.553 55.497-32.003L999 128.553l-55.503 32.007L888 128.553Z%22 stroke-width=%221.184%22%2F%3E%3C%2Fg%3E%3Cg fill-rule=%22evenodd%22%3E%3Cpath d=%22M1221 128.553v64.01l55.497 32.007v-64.01L1221 128.553Z%22 fill=%22%234c4e72bd%22 stroke-width=%221.184%22%2F%3E%3Cpath d=%22M1276.497 224.57 1332 192.563v-64.01l-55.503 32.007v64.01Z%22 fill=%22%234c4e7285%22 stroke-width=%221.184%22%2F%3E%3Cpath d=%22m1221 128.553 55.497-32.003L1332 128.553l-55.503 32.007L1221 128.553Z%22 fill=%22%234c4e7242%22 stroke-width=%221.184%22%2F%3E%3C%2Fg%3E%3Cg fill=%22none%22%3E%3Cpath d=%22M1554 128.553v64.01l55.497 32.007v-64.01L1554 128.553ZM1609.497 224.57 1665 192.563v-64.01l-55.503 32.007v64.01Z%22 stroke-width=%221.184%22%2F%3E%3Cpath d=%22m1554 128.553 55.497-32.003L1665 128.553l-55.503 32.007L1554 128.553Z%22 stroke-width=%221.184%22%2F%3E%3C%2Fg%3E%3Cg fill=%22none%22%3E%3Cpath d=%22M1776 128.553v64.01l55.497 32.007v-64.01L1776 128.553ZM1831.497 224.57 1887 192.563v-64.01l-55.503 32.007v64.01Z%22 stroke-width=%221.184%22%2F%3E%3Cpath d=%22m1776 128.553 55.497-32.003L1887 128.553l-55.503 32.007L1776 128.553Z%22 stroke-width=%221.184%22%2F%3E%3C%2Fg%3E%3Cg fill=%22none%22%3E%3Cpath d=%22M277.5 224.753v64.01l55.497 32.007v-64.01L277.5 224.753ZM332.997 320.77l55.503-32.007v-64.01l-55.503 32.007v64.01Z%22 stroke-width=%221.184%22%2F%3E%3Cpath d=%22m277.5 224.753 55.497-32.003 55.503 32.003-55.503 32.007-55.497-32.007Z%22 stroke-width=%221.184%22%2F%3E%3C%2Fg%3E%3Cg fill=%22none%22%3E%3Cpath d=%22M388.5 224.753v64.01l55.497 32.007v-64.01L388.5 224.753ZM443.997 320.77l55.503-32.007v-64.01l-55.503 32.007v64.01Z%22 stroke-width=%221.184%22%2F%3E%3Cpath d=%22m388.5 224.753 55.497-32.003 55.503 32.003-55.503 32.007-55.497-32.007Z%22 stroke-width=%221.184%22%2F%3E%3C%2Fg%3E%3Cg fill=%22none%22%3E%3Cpath d=%22M499.5 224.753v64.01l55.497 32.007v-64.01L499.5 224.753ZM554.997 320.77l55.503-32.007v-64.01l-55.503 32.007v64.01Z%22 stroke-width=%221.184%22%2F%3E%3Cpath d=%22m499.5 224.753 55.497-32.003 55.503 32.003-55.503 32.007-55.497-32.007Z%22 stroke-width=%221.184%22%2F%3E%3C%2Fg%3E%3Cg fill=%22none%22%3E%3Cpath d=%22M610.5 224.753v64.01l55.497 32.007v-64.01L610.5 224.753ZM665.997 320.77l55.503-32.007v-64.01l-55.503 32.007v64.01Z%22 stroke-width=%221.184%22%2F%3E%3Cpath d=%22m610.5 224.753 55.497-32.003 55.503 32.003-55.503 32.007-55.497-32.007Z%22 stroke-width=%221.184%22%2F%3E%3C%2Fg%3E%3Cg fill=%22none%22%3E%3Cpath d=%22M721.5 224.753v64.01l55.497 32.007v-64.01L721.5 224.753ZM776.997 320.77l55.503-32.007v-64.01l-55.503 32.007v64.01Z%22 stroke-width=%221.184%22%2F%3E%3Cpath d=%22m721.5 224.753 55.497-32.003 55.503 32.003-55.503 32.007-55.497-32.007Z%22 stroke-width=%221.184%22%2F%3E%3C%2Fg%3E%3Cg fill=%22none%22%3E%3Cpath d=%22M943.5 224.753v64.01l55.497 32.007v-64.01L943.5 224.753ZM998.997 320.77l55.503-32.007v-64.01l-55.503 32.007v64.01Z%22 stroke-width=%221.184%22%2F%3E%3Cpath d=%22m943.5 224.753 55.497-32.003 55.503 32.003-55.503 32.007-55.497-32.007Z%22 stroke-width=%221.184%22%2F%3E%3C%2Fg%3E%3Cg fill=%22none%22%3E%3Cpath d=%22M1054.5 224.753v64.01l55.497 32.007v-64.01l-55.497-32.007ZM1109.997 320.77l55.503-32.007v-64.01l-55.503 32.007v64.01Z%22 stroke-width=%221.184%22%2F%3E%3Cpath d=%22m1054.5 224.753 55.497-32.003 55.503 32.003-55.503 32.007-55.497-32.007Z%22 stroke-width=%221.184%22%2F%3E%3C%2Fg%3E%3Cg fill-rule=%22evenodd%22%3E%3Cpath d=%22M1276.5 224.753v64.01l55.497 32.007v-64.01l-55.497-32.007Z%22 fill=%22%234c4e727a%22 stroke-width=%221.184%22%2F%3E%3Cpath d=%22m1331.997 320.77 55.503-32.007v-64.01l-55.503 32.007v64.01Z%22 fill=%22%234c4e7256%22 stroke-width=%221.184%22%2F%3E%3Cpath d=%22m1276.5 224.753 55.497-32.003 55.503 32.003-55.503 32.007-55.497-32.007Z%22 fill=%22%234c4e722b%22 stroke-width=%221.184%22%2F%3E%3C%2Fg%3E%3Cg fill-rule=%22evenodd%22%3E%3Cpath d=%22M1387.5 224.753v64.01l55.497 32.007v-64.01l-55.497-32.007Z%22 fill=%22%234c4e72a5%22 stroke-width=%221.184%22%2F%3E%3Cpath d=%22m1442.997 320.77 55.503-32.007v-64.01l-55.503 32.007v64.01Z%22 fill=%22%234c4e7273%22 stroke-width=%221.184%22%2F%3E%3Cpath d=%22m1387.5 224.753 55.497-32.003 55.503 32.003-55.503 32.007-55.497-32.007Z%22 fill=%22%234c4e723a%22 stroke-width=%221.184%22%2F%3E%3C%2Fg%3E%3Cg fill-rule=%22evenodd%22%3E%3Cpath d=%22M1498.5 224.753v64.01l55.497 32.007v-64.01l-55.497-32.007Z%22 fill=%22%234c4e7285%22 stroke-width=%221.184%22%2F%3E%3Cpath d=%22m1553.997 320.77 55.503-32.007v-64.01l-55.503 32.007v64.01Z%22 fill=%22%234c4e725d%22 stroke-width=%221.184%22%2F%3E%3Cpath d=%22m1498.5 224.753 55.497-32.003 55.503 32.003-55.503 32.007-55.497-32.007Z%22 fill=%22%234c4e722f%22 stroke-width=%221.184%22%2F%3E%3C%2Fg%3E%3Cg fill-rule=%22evenodd%22%3E%3Cpath d=%22M1609.5 224.753v64.01l55.497 32.007v-64.01l-55.497-32.007Z%22 fill=%22%234c4e726c%22 stroke-width=%221.184%22%2F%3E%3Cpath d=%22m1664.997 320.77 55.503-32.007v-64.01l-55.503 32.007v64.01Z%22 fill=%22%234c4e724b%22 stroke-width=%221.184%22%2F%3E%3Cpath d=%22m1609.5 224.753 55.497-32.003 55.503 32.003-55.503 32.007-55.497-32.007Z%22 fill=%22%234c4e7226%22 stroke-width=%221.184%22%2F%3E%3C%2Fg%3E%3Cg fill-rule=%22evenodd%22%3E%3Cpath d=%22M1831.5 224.753v64.01l55.497 32.007v-64.01l-55.497-32.007Z%22 fill=%22%234c4e729b%22 stroke-width=%221.184%22%2F%3E%3Cpath d=%22m1886.997 320.77 55.503-32.007v-64.01l-55.503 32.007v64.01Z%22 fill=%22%234c4e726d%22 stroke-width=%221.184%22%2F%3E%3Cpath d=%22m1831.5 224.753 55.497-32.003 55.503 32.003-55.503 32.007-55.497-32.007Z%22 fill=%22%234c4e7236%22 stroke-width=%221.184%22%2F%3E%3C%2Fg%3E%3Cg fill=%22none%22%3E%3Cpath d=%22M111 320.953v64.01l55.497 32.007v-64.01L111 320.953ZM166.497 416.97 222 384.963v-64.01l-55.503 32.007v64.01Z%22 stroke-width=%221.184%22%2F%3E%3Cpath d=%22m111 320.953 55.497-32.003L222 320.953l-55.503 32.007L111 320.953Z%22 stroke-width=%221.184%22%2F%3E%3C%2Fg%3E%3Cg fill=%22none%22%3E%3Cpath d=%22M222 320.953v64.01l55.497 32.007v-64.01L222 320.953ZM277.497 416.97 333 384.963v-64.01l-55.503 32.007v64.01Z%22 stroke-width=%221.184%22%2F%3E%3Cpath d=%22m222 320.953 55.497-32.003L333 320.953l-55.503 32.007L222 320.953Z%22 stroke-width=%221.184%22%2F%3E%3C%2Fg%3E%3Cg fill-rule=%22evenodd%22%3E%3Cpath d=%22M444 320.953v64.01l55.497 32.007v-64.01L444 320.953Z%22 fill=%22%234c4e722f%22 stroke-width=%221.184%22%2F%3E%3Cpath d=%22M499.497 416.97 555 384.963v-64.01l-55.503 32.007v64.01Z%22 fill=%22%234c4e7221%22 stroke-width=%221.184%22%2F%3E%3Cpath d=%22m444 320.953 55.497-32.003L555 320.953l-55.503 32.007L444 320.953Z%22 fill=%22%234c4e7211%22 stroke-width=%221.184%22%2F%3E%3C%2Fg%3E%3Cg fill=%22none%22%3E%3Cpath d=%22M888 320.953v64.01l55.497 32.007v-64.01L888 320.953ZM943.497 416.97 999 384.963v-64.01l-55.503 32.007v64.01Z%22 stroke-width=%221.184%22%2F%3E%3Cpath d=%22m888 320.953 55.497-32.003L999 320.953l-55.503 32.007L888 320.953Z%22 stroke-width=%221.184%22%2F%3E%3C%2Fg%3E%3Cg fill=%22none%22%3E%3Cpath d=%22M999 320.953v64.01l55.497 32.007v-64.01L999 320.953ZM1054.497 416.97 1110 384.963v-64.01l-55.503 32.007v64.01Z%22 stroke-width=%221.184%22%2F%3E%3Cpath d=%22m999 320.953 55.497-32.003L1110 320.953l-55.503 32.007L999 320.953Z%22 stroke-width=%221.184%22%2F%3E%3C%2Fg%3E%3Cg fill=%22none%22%3E%3Cpath d=%22M1221 320.953v64.01l55.497 32.007v-64.01L1221 320.953ZM1276.497 416.97 1332 384.963v-64.01l-55.503 32.007v64.01Z%22 stroke-width=%221.184%22%2F%3E%3Cpath d=%22m1221 320.953 55.497-32.003L1332 320.953l-55.503 32.007L1221 320.953Z%22 stroke-width=%221.184%22%2F%3E%3C%2Fg%3E%3Cg fill-rule=%22evenodd%22%3E%3Cpath d=%22M1332 320.953v64.01l55.497 32.007v-64.01L1332 320.953Z%22 fill=%22%234c4e72d5%22 stroke-width=%221.184%22%2F%3E%3Cpath d=%22M1387.497 416.97 1443 384.963v-64.01l-55.503 32.007v64.01Z%22 fill=%22%234c4e7295%22 stroke-width=%221.184%22%2F%3E%3Cpath d=%22m1332 320.953 55.497-32.003L1443 320.953l-55.503 32.007L1332 320.953Z%22 fill=%22%234c4e724b%22 stroke-width=%221.184%22%2F%3E%3C%2Fg%3E%3Cg fill-rule=%22evenodd%22%3E%3Cpath d=%22M1443 320.953v64.01l55.497 32.007v-64.01L1443 320.953Z%22 fill=%22%234c4e72e7%22 stroke-width=%221.184%22%2F%3E%3Cpath d=%22M1498.497 416.97 1554 384.963v-64.01l-55.503 32.007v64.01Z%22 fill=%22%234c4e72a2%22 stroke-width=%221.184%22%2F%3E%3Cpath d=%22m1443 320.953 55.497-32.003L1554 320.953l-55.503 32.007L1443 320.953Z%22 fill=%22%234c4e7251%22 stroke-width=%221.184%22%2F%3E%3C%2Fg%3E%3Cg fill=%22none%22%3E%3Cpath d=%22M1554 320.953v64.01l55.497 32.007v-64.01L1554 320.953ZM1609.497 416.97 1665 384.963v-64.01l-55.503 32.007v64.01Z%22 stroke-width=%221.184%22%2F%3E%3Cpath d=%22m1554 320.953 55.497-32.003L1665 320.953l-55.503 32.007L1554 320.953Z%22 stroke-width=%221.184%22%2F%3E%3C%2Fg%3E%3Cg fill=%22none%22%3E%3Cpath d=%22M1776 320.953v64.01l55.497 32.007v-64.01L1776 320.953ZM1831.497 416.97 1887 384.963v-64.01l-55.503 32.007v64.01Z%22 stroke-width=%221.184%22%2F%3E%3Cpath d=%22m1776 320.953 55.497-32.003L1887 320.953l-55.503 32.007L1776 320.953Z%22 stroke-width=%221.184%22%2F%3E%3C%2Fg%3E%3Cg fill=%22none%22%3E%3Cpath d=%22M1887 320.953v64.01l55.497 32.007v-64.01L1887 320.953ZM1942.497 416.97 1998 384.963v-64.01l-55.503 32.007v64.01Z%22 stroke-width=%221.184%22%2F%3E%3Cpath d=%22m1887 320.953 55.497-32.003L1998 320.953l-55.503 32.007L1887 320.953Z%22 stroke-width=%221.184%22%2F%3E%3C%2Fg%3E%3Cg fill=%22none%22%3E%3Cpath d=%22M55.5 417.153v64.01l55.497 32.007v-64.01L55.5 417.153ZM110.997 513.17l55.503-32.007v-64.01l-55.503 32.007v64.01Z%22 stroke-width=%221.184%22%2F%3E%3Cpath d=%22m55.5 417.153 55.497-32.003 55.503 32.003-55.503 32.007L55.5 417.153Z%22 stroke-width=%221.184%22%2F%3E%3C%2Fg%3E%3Cg fill=%22none%22%3E%3Cpath d=%22M166.5 417.153v64.01l55.497 32.007v-64.01L166.5 417.153ZM221.997 513.17l55.503-32.007v-64.01l-55.503 32.007v64.01Z%22 stroke-width=%221.184%22%2F%3E%3Cpath d=%22m166.5 417.153 55.497-32.003 55.503 32.003-55.503 32.007-55.497-32.007Z%22 stroke-width=%221.184%22%2F%3E%3C%2Fg%3E%3Cg fill=%22none%22%3E%3Cpath d=%22M277.5 417.153v64.01l55.497 32.007v-64.01L277.5 417.153ZM332.997 513.17l55.503-32.007v-64.01l-55.503 32.007v64.01Z%22 stroke-width=%221.184%22%2F%3E%3Cpath d=%22m277.5 417.153 55.497-32.003 55.503 32.003-55.503 32.007-55.497-32.007Z%22 stroke-width=%221.184%22%2F%3E%3C%2Fg%3E%3Cg fill=%22none%22%3E%3Cpath d=%22M499.5 417.153v64.01l55.497 32.007v-64.01L499.5 417.153ZM554.997 513.17l55.503-32.007v-64.01l-55.503 32.007v64.01Z%22 stroke-width=%221.184%22%2F%3E%3Cpath d=%22m499.5 417.153 55.497-32.003 55.503 32.003-55.503 32.007-55.497-32.007Z%22 stroke-width=%221.184%22%2F%3E%3C%2Fg%3E%3Cg fill=%22none%22%3E%3Cpath d=%22M943.5 417.153v64.01l55.497 32.007v-64.01L943.5 417.153ZM998.997 513.17l55.503-32.007v-64.01l-55.503 32.007v64.01Z%22 stroke-width=%221.184%22%2F%3E%3Cpath d=%22m943.5 417.153 55.497-32.003 55.503 32.003-55.503 32.007-55.497-32.007Z%22 stroke-width=%221.184%22%2F%3E%3C%2Fg%3E%3Cg fill-rule=%22evenodd%22%3E%3Cpath d=%22M1054.5 417.153v64.01l55.497 32.007v-64.01l-55.497-32.007Z%22 fill=%22%234c4e7268%22 stroke-width=%221.184%22%2F%3E%3Cpath d=%22m1109.997 513.17 55.503-32.007v-64.01l-55.503 32.007v64.01Z%22 fill=%22%234c4e7249%22 stroke-width=%221.184%22%2F%3E%3Cpath d=%22m1054.5 417.153 55.497-32.003 55.503 32.003-55.503 32.007-55.497-32.007Z%22 fill=%22%234c4e7224%22 stroke-width=%221.184%22%2F%3E%3C%2Fg%3E%3Cg fill=%22none%22%3E%3Cpath d=%22M1165.5 417.153v64.01l55.497 32.007v-64.01l-55.497-32.007ZM1220.997 513.17l55.503-32.007v-64.01l-55.503 32.007v64.01Z%22 stroke-width=%221.184%22%2F%3E%3Cpath d=%22m1165.5 417.153 55.497-32.003 55.503 32.003-55.503 32.007-55.497-32.007Z%22 stroke-width=%221.184%22%2F%3E%3C%2Fg%3E%3Cg fill-rule=%22evenodd%22%3E%3Cpath d=%22M1387.5 417.153v64.01l55.497 32.007v-64.01l-55.497-32.007Z%22 fill=%22%234c4e7280%22 stroke-width=%221.184%22%2F%3E%3Cpath d=%22m1442.997 513.17 55.503-32.007v-64.01l-55.503 32.007v64.01Z%22 fill=%22%234c4e725a%22 stroke-width=%221.184%22%2F%3E%3Cpath d=%22m1387.5 417.153 55.497-32.003 55.503 32.003-55.503 32.007-55.497-32.007Z%22 fill=%22%234c4e722d%22 stroke-width=%221.184%22%2F%3E%3C%2Fg%3E%3Cg fill=%22none%22%3E%3Cpath d=%22M1720.5 417.153v64.01l55.497 32.007v-64.01l-55.497-32.007ZM1775.997 513.17l55.503-32.007v-64.01l-55.503 32.007v64.01Z%22 stroke-width=%221.184%22%2F%3E%3Cpath d=%22m1720.5 417.153 55.497-32.003 55.503 32.003-55.503 32.007-55.497-32.007Z%22 stroke-width=%221.184%22%2F%3E%3C%2Fg%3E%3Cg fill-rule=%22evenodd%22%3E%3Cpath d=%22M0 513.353v64.01l55.497 32.007v-64.01L0 513.353Z%22 fill=%22%234c4e7241%22 stroke-width=%221.184%22%2F%3E%3Cpath d=%22M55.497 609.37 111 577.363v-64.01L55.497 545.36v64.01Z%22 fill=%22%234c4e722e%22 stroke-width=%221.184%22%2F%3E%3Cpath d=%22m0 513.353 55.497-32.003L111 513.353 55.497 545.36 0 513.353Z%22 fill=%22%234c4e7217%22 stroke-width=%221.184%22%2F%3E%3C%2Fg%3E%3Cg fill-rule=%22evenodd%22%3E%3Cpath d=%22M333 513.353v64.01l55.497 32.007v-64.01L333 513.353Z%22 fill=%22%234c4e7242%22 stroke-width=%221.184%22%2F%3E%3Cpath d=%22M388.497 609.37 444 577.363v-64.01l-55.503 32.007v64.01Z%22 fill=%22%234c4e722f%22 stroke-width=%221.184%22%2F%3E%3Cpath d=%22m333 513.353 55.497-32.003L444 513.353l-55.503 32.007L333 513.353Z%22 fill=%22%234c4e7217%22 stroke-width=%221.184%22%2F%3E%3C%2Fg%3E%3Cg fill=%22none%22%3E%3Cpath d=%22M444 513.353v64.01l55.497 32.007v-64.01L444 513.353ZM499.497 609.37 555 577.363v-64.01l-55.503 32.007v64.01Z%22 stroke-width=%221.184%22%2F%3E%3Cpath d=%22m444 513.353 55.497-32.003L555 513.353l-55.503 32.007L444 513.353Z%22 stroke-width=%221.184%22%2F%3E%3C%2Fg%3E%3Cg fill=%22none%22%3E%3Cpath d=%22M555 513.353v64.01l55.497 32.007v-64.01L555 513.353ZM610.497 609.37 666 577.363v-64.01l-55.503 32.007v64.01Z%22 stroke-width=%221.184%22%2F%3E%3Cpath d=%22m555 513.353 55.497-32.003L666 513.353l-55.503 32.007L555 513.353Z%22 stroke-width=%221.184%22%2F%3E%3C%2Fg%3E%3Cg fill=%22none%22%3E%3Cpath d=%22M666 513.353v64.01l55.497 32.007v-64.01L666 513.353ZM721.497 609.37 777 577.363v-64.01l-55.503 32.007v64.01Z%22 stroke-width=%221.184%22%2F%3E%3Cpath d=%22m666 513.353 55.497-32.003L777 513.353l-55.503 32.007L666 513.353Z%22 stroke-width=%221.184%22%2F%3E%3C%2Fg%3E%3Cg fill=%22none%22%3E%3Cpath d=%22M777 513.353v64.01l55.497 32.007v-64.01L777 513.353ZM832.497 609.37 888 577.363v-64.01l-55.503 32.007v64.01Z%22 stroke-width=%221.184%22%2F%3E%3Cpath d=%22m777 513.353 55.497-32.003L888 513.353l-55.503 32.007L777 513.353Z%22 stroke-width=%221.184%22%2F%3E%3C%2Fg%3E%3Cg fill-rule=%22evenodd%22%3E%3Cpath d=%22M888 513.353v64.01l55.497 32.007v-64.01L888 513.353Z%22 fill=%22%234c4e72e3%22 stroke-width=%221.184%22%2F%3E%3Cpath d=%22M943.497 609.37 999 577.363v-64.01l-55.503 32.007v64.01Z%22 fill=%22%234c4e729f%22 stroke-width=%221.184%22%2F%3E%3Cpath d=%22m888 513.353 55.497-32.003L999 513.353l-55.503 32.007L888 513.353Z%22 fill=%22%234c4e7250%22 stroke-width=%221.184%22%2F%3E%3C%2Fg%3E%3Cg fill-rule=%22evenodd%22%3E%3Cpath d=%22M1554 513.353v64.01l55.497 32.007v-64.01L1554 513.353Z%22 fill=%22%234c4e72ba%22 stroke-width=%221.184%22%2F%3E%3Cpath d=%22M1609.497 609.37 1665 577.363v-64.01l-55.503 32.007v64.01Z%22 fill=%22%234c4e7282%22 stroke-width=%221.184%22%2F%3E%3Cpath d=%22m1554 513.353 55.497-32.003L1665 513.353l-55.503 32.007L1554 513.353Z%22 fill=%22%234c4e7241%22 stroke-width=%221.184%22%2F%3E%3C%2Fg%3E%3Cg fill=%22none%22%3E%3Cpath d=%22M1665 513.353v64.01l55.497 32.007v-64.01L1665 513.353ZM1720.497 609.37 1776 577.363v-64.01l-55.503 32.007v64.01Z%22 stroke-width=%221.184%22%2F%3E%3Cpath d=%22m1665 513.353 55.497-32.003L1776 513.353l-55.503 32.007L1665 513.353Z%22 stroke-width=%221.184%22%2F%3E%3C%2Fg%3E%3Cg fill=%22none%22%3E%3Cpath d=%22M1776 513.353v64.01l55.497 32.007v-64.01L1776 513.353ZM1831.497 609.37 1887 577.363v-64.01l-55.503 32.007v64.01Z%22 stroke-width=%221.184%22%2F%3E%3Cpath d=%22m1776 513.353 55.497-32.003L1887 513.353l-55.503 32.007L1776 513.353Z%22 stroke-width=%221.184%22%2F%3E%3C%2Fg%3E%3Cg fill=%22none%22%3E%3Cpath d=%22M55.5 609.553v64.01l55.497 32.007v-64.01L55.5 609.553ZM110.997 705.57l55.503-32.007v-64.01l-55.503 32.007v64.01Z%22 stroke-width=%221.184%22%2F%3E%3Cpath d=%22m55.5 609.553 55.497-32.003 55.503 32.003-55.503 32.007L55.5 609.553Z%22 stroke-width=%221.184%22%2F%3E%3C%2Fg%3E%3Cg fill-rule=%22evenodd%22%3E%3Cpath d=%22M277.5 609.553v64.01l55.497 32.007v-64.01L277.5 609.553Z%22 fill=%22%234c4e72c8%22 stroke-width=%221.184%22%2F%3E%3Cpath d=%22m332.997 705.57 55.503-32.007v-64.01l-55.503 32.007v64.01Z%22 fill=%22%234c4e728c%22 stroke-width=%221.184%22%2F%3E%3Cpath d=%22m277.5 609.553 55.497-32.003 55.503 32.003-55.503 32.007-55.497-32.007Z%22 fill=%22%234c4e7246%22 stroke-width=%221.184%22%2F%3E%3C%2Fg%3E%3Cg fill-rule=%22evenodd%22%3E%3Cpath d=%22M499.5 609.553v64.01l55.497 32.007v-64.01L499.5 609.553Z%22 fill=%22%234c4e726b%22 stroke-width=%221.184%22%2F%3E%3Cpath d=%22m554.997 705.57 55.503-32.007v-64.01l-55.503 32.007v64.01Z%22 fill=%22%234c4e724b%22 stroke-width=%221.184%22%2F%3E%3Cpath d=%22m499.5 609.553 55.497-32.003 55.503 32.003-55.503 32.007-55.497-32.007Z%22 fill=%22%234c4e7225%22 stroke-width=%221.184%22%2F%3E%3C%2Fg%3E%3Cg fill=%22none%22%3E%3Cpath d=%22M610.5 609.553v64.01l55.497 32.007v-64.01L610.5 609.553ZM665.997 705.57l55.503-32.007v-64.01l-55.503 32.007v64.01Z%22 stroke-width=%221.184%22%2F%3E%3Cpath d=%22m610.5 609.553 55.497-32.003 55.503 32.003-55.503 32.007-55.497-32.007Z%22 stroke-width=%221.184%22%2F%3E%3C%2Fg%3E%3Cg fill=%22none%22%3E%3Cpath d=%22M721.5 609.553v64.01l55.497 32.007v-64.01L721.5 609.553ZM776.997 705.57l55.503-32.007v-64.01l-55.503 32.007v64.01Z%22 stroke-width=%221.184%22%2F%3E%3Cpath d=%22m721.5 609.553 55.497-32.003 55.503 32.003-55.503 32.007-55.497-32.007Z%22 stroke-width=%221.184%22%2F%3E%3C%2Fg%3E%3Cg fill=%22none%22%3E%3Cpath d=%22M943.5 609.553v64.01l55.497 32.007v-64.01L943.5 609.553ZM998.997 705.57l55.503-32.007v-64.01l-55.503 32.007v64.01Z%22 stroke-width=%221.184%22%2F%3E%3Cpath d=%22m943.5 609.553 55.497-32.003 55.503 32.003-55.503 32.007-55.497-32.007Z%22 stroke-width=%221.184%22%2F%3E%3C%2Fg%3E%3Cg fill=%22none%22%3E%3Cpath d=%22M1054.5 609.553v64.01l55.497 32.007v-64.01l-55.497-32.007ZM1109.997 705.57l55.503-32.007v-64.01l-55.503 32.007v64.01Z%22 stroke-width=%221.184%22%2F%3E%3Cpath d=%22m1054.5 609.553 55.497-32.003 55.503 32.003-55.503 32.007-55.497-32.007Z%22 stroke-width=%221.184%22%2F%3E%3C%2Fg%3E%3Cg fill-rule=%22evenodd%22%3E%3Cpath d=%22M1165.5 609.553v64.01l55.497 32.007v-64.01l-55.497-32.007Z%22 fill=%22%234c4e7265%22 stroke-width=%221.184%22%2F%3E%3Cpath d=%22m1220.997 705.57 55.503-32.007v-64.01l-55.503 32.007v64.01Z%22 fill=%22%234c4e7247%22 stroke-width=%221.184%22%2F%3E%3Cpath d=%22m1165.5 609.553 55.497-32.003 55.503 32.003-55.503 32.007-55.497-32.007Z%22 fill=%22%234c4e7223%22 stroke-width=%221.184%22%2F%3E%3C%2Fg%3E%3Cg fill=%22none%22%3E%3Cpath d=%22M1831.5 609.553v64.01l55.497 32.007v-64.01l-55.497-32.007ZM1886.997 705.57l55.503-32.007v-64.01l-55.503 32.007v64.01Z%22 stroke-width=%221.184%22%2F%3E%3Cpath d=%22m1831.5 609.553 55.497-32.003 55.503 32.003-55.503 32.007-55.497-32.007Z%22 stroke-width=%221.184%22%2F%3E%3C%2Fg%3E%3Cg fill-rule=%22evenodd%22%3E%3Cpath d=%22M111 705.753v64.01l55.497 32.007v-64.01L111 705.753Z%22 fill=%22%234c4e7206%22 stroke-width=%221.184%22%2F%3E%3Cpath d=%22M166.497 801.77 222 769.763v-64.01l-55.503 32.007v64.01Z%22 fill=%22%234c4e7204%22 stroke-width=%221.184%22%2F%3E%3Cpath d=%22m111 705.753 55.497-32.003L222 705.753l-55.503 32.007L111 705.753Z%22 fill=%22%234c4e7202%22 stroke-width=%221.184%22%2F%3E%3C%2Fg%3E%3Cg fill=%22none%22%3E%3Cpath d=%22M333 705.753v64.01l55.497 32.007v-64.01L333 705.753ZM388.497 801.77 444 769.763v-64.01l-55.503 32.007v64.01Z%22 stroke-width=%221.184%22%2F%3E%3Cpath d=%22m333 705.753 55.497-32.003L444 705.753l-55.503 32.007L333 705.753Z%22 stroke-width=%221.184%22%2F%3E%3C%2Fg%3E%3Cg fill-rule=%22evenodd%22%3E%3Cpath d=%22M555 705.753v64.01l55.497 32.007v-64.01L555 705.753Z%22 fill=%22%234c4e7222%22 stroke-width=%221.184%22%2F%3E%3Cpath d=%22M610.497 801.77 666 769.763v-64.01l-55.503 32.007v64.01Z%22 fill=%22%234c4e7217%22 stroke-width=%221.184%22%2F%3E%3Cpath d=%22m555 705.753 55.497-32.003L666 705.753l-55.503 32.007L555 705.753Z%22 fill=%22%234c4e720c%22 stroke-width=%221.184%22%2F%3E%3C%2Fg%3E%3Cg fill=%22none%22%3E%3Cpath d=%22M666 705.753v64.01l55.497 32.007v-64.01L666 705.753ZM721.497 801.77 777 769.763v-64.01l-55.503 32.007v64.01Z%22 stroke-width=%221.184%22%2F%3E%3Cpath d=%22m666 705.753 55.497-32.003L777 705.753l-55.503 32.007L666 705.753Z%22 stroke-width=%221.184%22%2F%3E%3C%2Fg%3E%3Cg fill=%22none%22%3E%3Cpath d=%22M777 705.753v64.01l55.497 32.007v-64.01L777 705.753ZM832.497 801.77 888 769.763v-64.01l-55.503 32.007v64.01Z%22 stroke-width=%221.184%22%2F%3E%3Cpath d=%22m777 705.753 55.497-32.003L888 705.753l-55.503 32.007L777 705.753Z%22 stroke-width=%221.184%22%2F%3E%3C%2Fg%3E%3Cg fill=%22none%22%3E%3Cpath d=%22M999 705.753v64.01l55.497 32.007v-64.01L999 705.753ZM1054.497 801.77 1110 769.763v-64.01l-55.503 32.007v64.01Z%22 stroke-width=%221.184%22%2F%3E%3Cpath d=%22m999 705.753 55.497-32.003L1110 705.753l-55.503 32.007L999 705.753Z%22 stroke-width=%221.184%22%2F%3E%3C%2Fg%3E%3Cg fill=%22none%22%3E%3Cpath d=%22M1110 705.753v64.01l55.497 32.007v-64.01L1110 705.753ZM1165.497 801.77 1221 769.763v-64.01l-55.503 32.007v64.01Z%22 stroke-width=%221.184%22%2F%3E%3Cpath d=%22m1110 705.753 55.497-32.003L1221 705.753l-55.503 32.007L1110 705.753Z%22 stroke-width=%221.184%22%2F%3E%3C%2Fg%3E%3Cg fill-rule=%22evenodd%22%3E%3Cpath d=%22M1221 705.753v64.01l55.497 32.007v-64.01L1221 705.753Z%22 fill=%22%234c4e72e1%22 stroke-width=%221.184%22%2F%3E%3Cpath d=%22M1276.497 801.77 1332 769.763v-64.01l-55.503 32.007v64.01Z%22 fill=%22%234c4e729e%22 stroke-width=%221.184%22%2F%3E%3Cpath d=%22m1221 705.753 55.497-32.003L1332 705.753l-55.503 32.007L1221 705.753Z%22 fill=%22%234c4e724f%22 stroke-width=%221.184%22%2F%3E%3C%2Fg%3E%3Cg fill=%22none%22%3E%3Cpath d=%22M1443 705.753v64.01l55.497 32.007v-64.01L1443 705.753ZM1498.497 801.77 1554 769.763v-64.01l-55.503 32.007v64.01Z%22 stroke-width=%221.184%22%2F%3E%3Cpath d=%22m1443 705.753 55.497-32.003L1554 705.753l-55.503 32.007L1443 705.753Z%22 stroke-width=%221.184%22%2F%3E%3C%2Fg%3E%3Cg fill-rule=%22evenodd%22%3E%3Cpath d=%22M1776 705.753v64.01l55.497 32.007v-64.01L1776 705.753Z%22 fill=%22%234c4e72de%22 stroke-width=%221.184%22%2F%3E%3Cpath d=%22M1831.497 801.77 1887 769.763v-64.01l-55.503 32.007v64.01Z%22 fill=%22%234c4e729b%22 stroke-width=%221.184%22%2F%3E%3Cpath d=%22m1776 705.753 55.497-32.003L1887 705.753l-55.503 32.007L1776 705.753Z%22 fill=%22%234c4e724e%22 stroke-width=%221.184%22%2F%3E%3C%2Fg%3E%3Cg fill=%22none%22%3E%3Cpath d=%22M1887 705.753v64.01l55.497 32.007v-64.01L1887 705.753ZM1942.497 801.77 1998 769.763v-64.01l-55.503 32.007v64.01Z%22 stroke-width=%221.184%22%2F%3E%3Cpath d=%22m1887 705.753 55.497-32.003L1998 705.753l-55.503 32.007L1887 705.753Z%22 stroke-width=%221.184%22%2F%3E%3C%2Fg%3E%3Cg fill=%22none%22%3E%3Cpath d=%22M166.5 801.953v64.01l55.497 32.007v-64.01L166.5 801.953ZM221.997 897.97l55.503-32.007v-64.01l-55.503 32.007v64.01Z%22 stroke-width=%221.184%22%2F%3E%3Cpath d=%22m166.5 801.953 55.497-32.003 55.503 32.003-55.503 32.007-55.497-32.007Z%22 stroke-width=%221.184%22%2F%3E%3C%2Fg%3E%3Cg fill-rule=%22evenodd%22%3E%3Cpath d=%22M277.5 801.953v64.01l55.497 32.007v-64.01L277.5 801.953Z%22 fill=%22%234c4e726c%22 stroke-width=%221.184%22%2F%3E%3Cpath d=%22m332.997 897.97 55.503-32.007v-64.01l-55.503 32.007v64.01Z%22 fill=%22%234c4e724c%22 stroke-width=%221.184%22%2F%3E%3Cpath d=%22m277.5 801.953 55.497-32.003 55.503 32.003-55.503 32.007-55.497-32.007Z%22 fill=%22%234c4e7226%22 stroke-width=%221.184%22%2F%3E%3C%2Fg%3E%3Cg fill=%22none%22%3E%3Cpath d=%22M721.5 801.953v64.01l55.497 32.007v-64.01L721.5 801.953ZM776.997 897.97l55.503-32.007v-64.01l-55.503 32.007v64.01Z%22 stroke-width=%221.184%22%2F%3E%3Cpath d=%22m721.5 801.953 55.497-32.003 55.503 32.003-55.503 32.007-55.497-32.007Z%22 stroke-width=%221.184%22%2F%3E%3C%2Fg%3E%3Cg fill=%22none%22%3E%3Cpath d=%22M832.5 801.953v64.01l55.497 32.007v-64.01L832.5 801.953ZM887.997 897.97l55.503-32.007v-64.01l-55.503 32.007v64.01Z%22 stroke-width=%221.184%22%2F%3E%3Cpath d=%22m832.5 801.953 55.497-32.003 55.503 32.003-55.503 32.007-55.497-32.007Z%22 stroke-width=%221.184%22%2F%3E%3C%2Fg%3E%3Cg fill=%22none%22%3E%3Cpath d=%22M1054.5 801.953v64.01l55.497 32.007v-64.01l-55.497-32.007ZM1109.997 897.97l55.503-32.007v-64.01l-55.503 32.007v64.01Z%22 stroke-width=%221.184%22%2F%3E%3Cpath d=%22m1054.5 801.953 55.497-32.003 55.503 32.003-55.503 32.007-55.497-32.007Z%22 stroke-width=%221.184%22%2F%3E%3C%2Fg%3E%3Cg fill=%22none%22%3E%3Cpath d=%22M1387.5 801.953v64.01l55.497 32.007v-64.01l-55.497-32.007ZM1442.997 897.97l55.503-32.007v-64.01l-55.503 32.007v64.01Z%22 stroke-width=%221.184%22%2F%3E%3Cpath d=%22m1387.5 801.953 55.497-32.003 55.503 32.003-55.503 32.007-55.497-32.007Z%22 stroke-width=%221.184%22%2F%3E%3C%2Fg%3E%3Cg fill=%22none%22%3E%3Cpath d=%22M1720.5 801.953v64.01l55.497 32.007v-64.01l-55.497-32.007ZM1775.997 897.97l55.503-32.007v-64.01l-55.503 32.007v64.01Z%22 stroke-width=%221.184%22%2F%3E%3Cpath d=%22m1720.5 801.953 55.497-32.003 55.503 32.003-55.503 32.007-55.497-32.007Z%22 stroke-width=%221.184%22%2F%3E%3C%2Fg%3E%3Cg fill=%22none%22%3E%3Cpath d=%22M0 898.153v64.01l55.497 32.007v-64.01L0 898.153ZM55.497 994.17 111 962.163v-64.01L55.497 930.16v64.01Z%22 stroke-width=%221.184%22%2F%3E%3Cpath d=%22m0 898.153 55.497-32.003L111 898.153 55.497 930.16 0 898.153Z%22 stroke-width=%221.184%22%2F%3E%3C%2Fg%3E%3Cg fill=%22none%22%3E%3Cpath d=%22M444 898.153v64.01l55.497 32.007v-64.01L444 898.153ZM499.497 994.17 555 962.163v-64.01l-55.503 32.007v64.01Z%22 stroke-width=%221.184%22%2F%3E%3Cpath d=%22m444 898.153 55.497-32.003L555 898.153l-55.503 32.007L444 898.153Z%22 stroke-width=%221.184%22%2F%3E%3C%2Fg%3E%3Cg fill=%22none%22%3E%3Cpath d=%22M555 898.153v64.01l55.497 32.007v-64.01L555 898.153ZM610.497 994.17 666 962.163v-64.01l-55.503 32.007v64.01Z%22 stroke-width=%221.184%22%2F%3E%3Cpath d=%22m555 898.153 55.497-32.003L666 898.153l-55.503 32.007L555 898.153Z%22 stroke-width=%221.184%22%2F%3E%3C%2Fg%3E%3Cg fill=%22none%22%3E%3Cpath d=%22M666 898.153v64.01l55.497 32.007v-64.01L666 898.153ZM721.497 994.17 777 962.163v-64.01l-55.503 32.007v64.01Z%22 stroke-width=%221.184%22%2F%3E%3Cpath d=%22m666 898.153 55.497-32.003L777 898.153l-55.503 32.007L666 898.153Z%22 stroke-width=%221.184%22%2F%3E%3C%2Fg%3E%3Cg fill=%22none%22%3E%3Cpath d=%22M888 898.153v64.01l55.497 32.007v-64.01L888 898.153ZM943.497 994.17 999 962.163v-64.01l-55.503 32.007v64.01Z%22 stroke-width=%221.184%22%2F%3E%3Cpath d=%22m888 898.153 55.497-32.003L999 898.153l-55.503 32.007L888 898.153Z%22 stroke-width=%221.184%22%2F%3E%3C%2Fg%3E%3Cg fill=%22none%22%3E%3Cpath d=%22M1221 898.153v64.01l55.497 32.007v-64.01L1221 898.153ZM1276.497 994.17 1332 962.163v-64.01l-55.503 32.007v64.01Z%22 stroke-width=%221.184%22%2F%3E%3Cpath d=%22m1221 898.153 55.497-32.003L1332 898.153l-55.503 32.007L1221 898.153Z%22 stroke-width=%221.184%22%2F%3E%3C%2Fg%3E%3Cg fill-rule=%22evenodd%22%3E%3Cpath d=%22M1443 898.153v64.01l55.497 32.007v-64.01L1443 898.153Z%22 fill=%22%234c4e7287%22 stroke-width=%221.184%22%2F%3E%3Cpath d=%22M1498.497 994.17 1554 962.163v-64.01l-55.503 32.007v64.01Z%22 fill=%22%234c4e725e%22 stroke-width=%221.184%22%2F%3E%3Cpath d=%22m1443 898.153 55.497-32.003L1554 898.153l-55.503 32.007L1443 898.153Z%22 fill=%22%234c4e722f%22 stroke-width=%221.184%22%2F%3E%3C%2Fg%3E%3Cg fill=%22none%22%3E%3Cpath d=%22M1554 898.153v64.01l55.497 32.007v-64.01L1554 898.153ZM1609.497 994.17 1665 962.163v-64.01l-55.503 32.007v64.01Z%22 stroke-width=%221.184%22%2F%3E%3Cpath d=%22m1554 898.153 55.497-32.003L1665 898.153l-55.503 32.007L1554 898.153Z%22 stroke-width=%221.184%22%2F%3E%3C%2Fg%3E%3Cg fill-rule=%22evenodd%22%3E%3Cpath d=%22M1776 898.153v64.01l55.497 32.007v-64.01L1776 898.153Z%22 fill=%22%234c4e72f4%22 stroke-width=%221.184%22%2F%3E%3Cpath d=%22M1831.497 994.17 1887 962.163v-64.01l-55.503 32.007v64.01Z%22 fill=%22%234c4e72ab%22 stroke-width=%221.184%22%2F%3E%3Cpath d=%22m1776 898.153 55.497-32.003L1887 898.153l-55.503 32.007L1776 898.153Z%22 fill=%22%234c4e7255%22 stroke-width=%221.184%22%2F%3E%3C%2Fg%3E%3Cg fill=%22none%22%3E%3Cpath d=%22M55.5 994.353v64.01l55.497 32.007v-64.01L55.5 994.353ZM110.997 1090.37l55.503-32.007v-64.01l-55.503 32.007v64.01Z%22 stroke-width=%221.184%22%2F%3E%3Cpath d=%22m55.5 994.353 55.497-32.003 55.503 32.003-55.503 32.007L55.5 994.353Z%22 stroke-width=%221.184%22%2F%3E%3C%2Fg%3E%3Cg fill-rule=%22evenodd%22%3E%3Cpath d=%22M277.5 994.353v64.01l55.497 32.007v-64.01L277.5 994.353Z%22 fill=%22%234c4e72b6%22 stroke-width=%221.184%22%2F%3E%3Cpath d=%22m332.997 1090.37 55.503-32.007v-64.01l-55.503 32.007v64.01Z%22 fill=%22%234c4e727f%22 stroke-width=%221.184%22%2F%3E%3Cpath d=%22m277.5 994.353 55.497-32.003 55.503 32.003-55.503 32.007-55.497-32.007Z%22 fill=%22%234c4e7240%22 stroke-width=%221.184%22%2F%3E%3C%2Fg%3E%3Cg fill-rule=%22evenodd%22%3E%3Cpath d=%22M499.5 994.353v64.01l55.497 32.007v-64.01L499.5 994.353Z%22 fill=%22%234c4e727f%22 stroke-width=%221.184%22%2F%3E%3Cpath d=%22m554.997 1090.37 55.503-32.007v-64.01l-55.503 32.007v64.01Z%22 fill=%22%234c4e7259%22 stroke-width=%221.184%22%2F%3E%3Cpath d=%22m499.5 994.353 55.497-32.003 55.503 32.003-55.503 32.007-55.497-32.007Z%22 fill=%22%234c4e722d%22 stroke-width=%221.184%22%2F%3E%3C%2Fg%3E%3Cg fill-rule=%22evenodd%22%3E%3Cpath d=%22M610.5 994.353v64.01l55.497 32.007v-64.01L610.5 994.353Z%22 fill=%22%234c4e72dc%22 stroke-width=%221.184%22%2F%3E%3Cpath d=%22m665.997 1090.37 55.503-32.007v-64.01l-55.503 32.007v64.01Z%22 fill=%22%234c4e729a%22 stroke-width=%221.184%22%2F%3E%3Cpath d=%22m610.5 994.353 55.497-32.003 55.503 32.003-55.503 32.007-55.497-32.007Z%22 fill=%22%234c4e724d%22 stroke-width=%221.184%22%2F%3E%3C%2Fg%3E%3Cg fill=%22none%22%3E%3Cpath d=%22M721.5 994.353v64.01l55.497 32.007v-64.01L721.5 994.353ZM776.997 1090.37l55.503-32.007v-64.01l-55.503 32.007v64.01Z%22 stroke-width=%221.184%22%2F%3E%3Cpath d=%22m721.5 994.353 55.497-32.003 55.503 32.003-55.503 32.007-55.497-32.007Z%22 stroke-width=%221.184%22%2F%3E%3C%2Fg%3E%3Cg fill=%22none%22%3E%3Cpath d=%22M1054.5 994.353v64.01l55.497 32.007v-64.01l-55.497-32.007ZM1109.997 1090.37l55.503-32.007v-64.01l-55.503 32.007v64.01Z%22 stroke-width=%221.184%22%2F%3E%3Cpath d=%22m1054.5 994.353 55.497-32.003 55.503 32.003-55.503 32.007-55.497-32.007Z%22 stroke-width=%221.184%22%2F%3E%3C%2Fg%3E%3Cg fill=%22none%22%3E%3Cpath d=%22M1165.5 994.353v64.01l55.497 32.007v-64.01l-55.497-32.007ZM1220.997 1090.37l55.503-32.007v-64.01l-55.503 32.007v64.01Z%22 stroke-width=%221.184%22%2F%3E%3Cpath d=%22m1165.5 994.353 55.497-32.003 55.503 32.003-55.503 32.007-55.497-32.007Z%22 stroke-width=%221.184%22%2F%3E%3C%2Fg%3E%3Cg fill=%22none%22%3E%3Cpath d=%22M1831.5 994.353v64.01l55.497 32.007v-64.01l-55.497-32.007ZM1886.997 1090.37l55.503-32.007v-64.01l-55.503 32.007v64.01Z%22 stroke-width=%221.184%22%2F%3E%3Cpath d=%22m1831.5 994.353 55.497-32.003 55.503 32.003-55.503 32.007-55.497-32.007Z%22 stroke-width=%221.184%22%2F%3E%3C%2Fg%3E%3Cg fill-rule=%22evenodd%22%3E%3Cpath d=%22M0 1090.553v64.01l55.497 32.007v-64.01L0 1090.553Z%22 fill=%22%234c4e7238%22 stroke-width=%221.184%22%2F%3E%3Cpath d=%22M55.497 1186.57 111 1154.563v-64.01l-55.503 32.007v64.01Z%22 fill=%22%234c4e7228%22 stroke-width=%221.184%22%2F%3E%3Cpath d=%22m0 1090.553 55.497-32.003L111 1090.553l-55.503 32.007L0 1090.553Z%22 fill=%22%234c4e7214%22 stroke-width=%221.184%22%2F%3E%3C%2Fg%3E%3Cg fill=%22none%22%3E%3Cpath d=%22M111 1090.553v64.01l55.497 32.007v-64.01L111 1090.553ZM166.497 1186.57 222 1154.563v-64.01l-55.503 32.007v64.01Z%22 stroke-width=%221.184%22%2F%3E%3Cpath d=%22m111 1090.553 55.497-32.003L222 1090.553l-55.503 32.007L111 1090.553Z%22 stroke-width=%221.184%22%2F%3E%3C%2Fg%3E%3Cg fill=%22none%22%3E%3Cpath d=%22M333 1090.553v64.01l55.497 32.007v-64.01L333 1090.553ZM388.497 1186.57 444 1154.563v-64.01l-55.503 32.007v64.01Z%22 stroke-width=%221.184%22%2F%3E%3Cpath d=%22m333 1090.553 55.497-32.003L444 1090.553l-55.503 32.007L333 1090.553Z%22 stroke-width=%221.184%22%2F%3E%3C%2Fg%3E%3Cg fill=%22none%22%3E%3Cpath d=%22M444 1090.553v64.01l55.497 32.007v-64.01L444 1090.553ZM499.497 1186.57 555 1154.563v-64.01l-55.503 32.007v64.01Z%22 stroke-width=%221.184%22%2F%3E%3Cpath d=%22m444 1090.553 55.497-32.003L555 1090.553l-55.503 32.007L444 1090.553Z%22 stroke-width=%221.184%22%2F%3E%3C%2Fg%3E%3Cg fill=%22none%22%3E%3Cpath d=%22M555 1090.553v64.01l55.497 32.007v-64.01L555 1090.553ZM610.497 1186.57 666 1154.563v-64.01l-55.503 32.007v64.01Z%22 stroke-width=%221.184%22%2F%3E%3Cpath d=%22m555 1090.553 55.497-32.003L666 1090.553l-55.503 32.007L555 1090.553Z%22 stroke-width=%221.184%22%2F%3E%3C%2Fg%3E%3Cg fill-rule=%22evenodd%22%3E%3Cpath d=%22M666 1090.553v64.01l55.497 32.007v-64.01L666 1090.553Z%22 fill=%22%234c4e7237%22 stroke-width=%221.184%22%2F%3E%3Cpath d=%22M721.497 1186.57 777 1154.563v-64.01l-55.503 32.007v64.01Z%22 fill=%22%234c4e7226%22 stroke-width=%221.184%22%2F%3E%3Cpath d=%22m666 1090.553 55.497-32.003L777 1090.553l-55.503 32.007L666 1090.553Z%22 fill=%22%234c4e7213%22 stroke-width=%221.184%22%2F%3E%3C%2Fg%3E%3Cg fill=%22none%22%3E%3Cpath d=%22M1110 1090.553v64.01l55.497 32.007v-64.01L1110 1090.553ZM1165.497 1186.57l55.503-32.007v-64.01l-55.503 32.007v64.01Z%22 stroke-width=%221.184%22%2F%3E%3Cpath d=%22m1110 1090.553 55.497-32.003 55.503 32.003-55.503 32.007-55.497-32.007Z%22 stroke-width=%221.184%22%2F%3E%3C%2Fg%3E%3Cg fill=%22none%22%3E%3Cpath d=%22M1332 1090.553v64.01l55.497 32.007v-64.01L1332 1090.553ZM1387.497 1186.57l55.503-32.007v-64.01l-55.503 32.007v64.01Z%22 stroke-width=%221.184%22%2F%3E%3Cpath d=%22m1332 1090.553 55.497-32.003 55.503 32.003-55.503 32.007-55.497-32.007Z%22 stroke-width=%221.184%22%2F%3E%3C%2Fg%3E%3Cg fill-rule=%22evenodd%22%3E%3Cpath d=%22M1443 1090.553v64.01l55.497 32.007v-64.01L1443 1090.553Z%22 fill=%22%234c4e72c3%22 stroke-width=%221.184%22%2F%3E%3Cpath d=%22m1498.497 1186.57 55.503-32.007v-64.01l-55.503 32.007v64.01Z%22 fill=%22%234c4e7288%22 stroke-width=%221.184%22%2F%3E%3Cpath d=%22m1443 1090.553 55.497-32.003 55.503 32.003-55.503 32.007-55.497-32.007Z%22 fill=%22%234c4e7244%22 stroke-width=%221.184%22%2F%3E%3C%2Fg%3E%3Cg fill=%22none%22%3E%3Cpath d=%22M1554 1090.553v64.01l55.497 32.007v-64.01L1554 1090.553ZM1609.497 1186.57l55.503-32.007v-64.01l-55.503 32.007v64.01Z%22 stroke-width=%221.184%22%2F%3E%3Cpath d=%22m1554 1090.553 55.497-32.003 55.503 32.003-55.503 32.007-55.497-32.007Z%22 stroke-width=%221.184%22%2F%3E%3C%2Fg%3E%3Cg fill=%22none%22%3E%3Cpath d=%22M277.5 1186.753v64.01l55.497 32.007v-64.01l-55.497-32.007ZM332.997 1282.77l55.503-32.007v-64.01l-55.503 32.007v64.01Z%22 stroke-width=%221.184%22%2F%3E%3Cpath d=%22m277.5 1186.753 55.497-32.003 55.503 32.003-55.503 32.007-55.497-32.007Z%22 stroke-width=%221.184%22%2F%3E%3C%2Fg%3E%3Cg fill=%22none%22%3E%3Cpath d=%22M499.5 1186.753v64.01l55.497 32.007v-64.01l-55.497-32.007ZM554.997 1282.77l55.503-32.007v-64.01l-55.503 32.007v64.01Z%22 stroke-width=%221.184%22%2F%3E%3Cpath d=%22m499.5 1186.753 55.497-32.003 55.503 32.003-55.503 32.007-55.497-32.007Z%22 stroke-width=%221.184%22%2F%3E%3C%2Fg%3E%3Cg fill=%22none%22%3E%3Cpath d=%22M721.5 1186.753v64.01l55.497 32.007v-64.01l-55.497-32.007ZM776.997 1282.77l55.503-32.007v-64.01l-55.503 32.007v64.01Z%22 stroke-width=%221.184%22%2F%3E%3Cpath d=%22m721.5 1186.753 55.497-32.003 55.503 32.003-55.503 32.007-55.497-32.007Z%22 stroke-width=%221.184%22%2F%3E%3C%2Fg%3E%3Cg fill=%22none%22%3E%3Cpath d=%22M832.5 1186.753v64.01l55.497 32.007v-64.01l-55.497-32.007ZM887.997 1282.77l55.503-32.007v-64.01l-55.503 32.007v64.01Z%22 stroke-width=%221.184%22%2F%3E%3Cpath d=%22m832.5 1186.753 55.497-32.003 55.503 32.003-55.503 32.007-55.497-32.007Z%22 stroke-width=%221.184%22%2F%3E%3C%2Fg%3E%3Cg fill-rule=%22evenodd%22%3E%3Cpath d=%22M943.5 1186.753v64.01l55.497 32.007v-64.01l-55.497-32.007Z%22 fill=%22%234c4e721c%22 stroke-width=%221.184%22%2F%3E%3Cpath d=%22m998.997 1282.77 55.503-32.007v-64.01l-55.503 32.007v64.01Z%22 fill=%22%234c4e7214%22 stroke-width=%221.184%22%2F%3E%3Cpath d=%22m943.5 1186.753 55.497-32.003 55.503 32.003-55.503 32.007-55.497-32.007Z%22 fill=%22%234c4e720a%22 stroke-width=%221.184%22%2F%3E%3C%2Fg%3E%3Cg fill=%22none%22%3E%3Cpath d=%22M1498.5 1186.753v64.01l55.497 32.007v-64.01l-55.497-32.007ZM1553.997 1282.77l55.503-32.007v-64.01l-55.503 32.007v64.01Z%22 stroke-width=%221.184%22%2F%3E%3Cpath d=%22m1498.5 1186.753 55.497-32.003 55.503 32.003-55.503 32.007-55.497-32.007Z%22 stroke-width=%221.184%22%2F%3E%3C%2Fg%3E%3Cg fill=%22none%22%3E%3Cpath d=%22M1609.5 1186.753v64.01l55.497 32.007v-64.01l-55.497-32.007ZM1664.997 1282.77l55.503-32.007v-64.01l-55.503 32.007v64.01Z%22 stroke-width=%221.184%22%2F%3E%3Cpath d=%22m1609.5 1186.753 55.497-32.003 55.503 32.003-55.503 32.007-55.497-32.007Z%22 stroke-width=%221.184%22%2F%3E%3C%2Fg%3E%3Cg fill=%22none%22%3E%3Cpath d=%22M1942.5 1186.753v64.01l55.497 32.007v-64.01l-55.497-32.007ZM1997.997 1282.77l55.503-32.007v-64.01l-55.503 32.007v64.01Z%22 stroke-width=%221.184%22%2F%3E%3Cpath d=%22m1942.5 1186.753 55.497-32.003 55.503 32.003-55.503 32.007-55.497-32.007Z%22 stroke-width=%221.184%22%2F%3E%3C%2Fg%3E%3Cg fill=%22none%22%3E%3Cpath d=%22M0 1282.953v64.01l55.497 32.007v-64.01L0 1282.953ZM55.497 1378.97 111 1346.963v-64.01l-55.503 32.007v64.01Z%22 stroke-width=%221.184%22%2F%3E%3Cpath d=%22m0 1282.953 55.497-32.003L111 1282.953l-55.503 32.007L0 1282.953Z%22 stroke-width=%221.184%22%2F%3E%3C%2Fg%3E%3Cg fill-rule=%22evenodd%22%3E%3Cpath d=%22M222 1282.953v64.01l55.497 32.007v-64.01L222 1282.953Z%22 fill=%22%234c4e7210%22 stroke-width=%221.184%22%2F%3E%3Cpath d=%22M277.497 1378.97 333 1346.963v-64.01l-55.503 32.007v64.01Z%22 fill=%22%234c4e720b%22 stroke-width=%221.184%22%2F%3E%3Cpath d=%22m222 1282.953 55.497-32.003L333 1282.953l-55.503 32.007L222 1282.953Z%22 fill=%22%234c4e7205%22 stroke-width=%221.184%22%2F%3E%3C%2Fg%3E%3Cg fill-rule=%22evenodd%22%3E%3Cpath d=%22M444 1282.953v64.01l55.497 32.007v-64.01L444 1282.953Z%22 fill=%22%234c4e725b%22 stroke-width=%221.184%22%2F%3E%3Cpath d=%22M499.497 1378.97 555 1346.963v-64.01l-55.503 32.007v64.01Z%22 fill=%22%234c4e7240%22 stroke-width=%221.184%22%2F%3E%3Cpath d=%22m444 1282.953 55.497-32.003L555 1282.953l-55.503 32.007L444 1282.953Z%22 fill=%22%234c4e7220%22 stroke-width=%221.184%22%2F%3E%3C%2Fg%3E%3Cg fill=%22none%22%3E%3Cpath d=%22M555 1282.953v64.01l55.497 32.007v-64.01L555 1282.953ZM610.497 1378.97 666 1346.963v-64.01l-55.503 32.007v64.01Z%22 stroke-width=%221.184%22%2F%3E%3Cpath d=%22m555 1282.953 55.497-32.003L666 1282.953l-55.503 32.007L555 1282.953Z%22 stroke-width=%221.184%22%2F%3E%3C%2Fg%3E%3Cg fill=%22none%22%3E%3Cpath d=%22M999 1282.953v64.01l55.497 32.007v-64.01L999 1282.953ZM1054.497 1378.97l55.503-32.007v-64.01l-55.503 32.007v64.01Z%22 stroke-width=%221.184%22%2F%3E%3Cpath d=%22m999 1282.953 55.497-32.003 55.503 32.003-55.503 32.007L999 1282.953Z%22 stroke-width=%221.184%22%2F%3E%3C%2Fg%3E%3Cg fill=%22none%22%3E%3Cpath d=%22M1110 1282.953v64.01l55.497 32.007v-64.01L1110 1282.953ZM1165.497 1378.97l55.503-32.007v-64.01l-55.503 32.007v64.01Z%22 stroke-width=%221.184%22%2F%3E%3Cpath d=%22m1110 1282.953 55.497-32.003 55.503 32.003-55.503 32.007-55.497-32.007Z%22 stroke-width=%221.184%22%2F%3E%3C%2Fg%3E%3Cg fill=%22none%22%3E%3Cpath d=%22M1221 1282.953v64.01l55.497 32.007v-64.01L1221 1282.953ZM1276.497 1378.97l55.503-32.007v-64.01l-55.503 32.007v64.01Z%22 stroke-width=%221.184%22%2F%3E%3Cpath d=%22m1221 1282.953 55.497-32.003 55.503 32.003-55.503 32.007-55.497-32.007Z%22 stroke-width=%221.184%22%2F%3E%3C%2Fg%3E%3Cg fill-rule=%22evenodd%22%3E%3Cpath d=%22M1554 1282.953v64.01l55.497 32.007v-64.01L1554 1282.953Z%22 fill=%22%234c4e72c3%22 stroke-width=%221.184%22%2F%3E%3Cpath d=%22m1609.497 1378.97 55.503-32.007v-64.01l-55.503 32.007v64.01Z%22 fill=%22%234c4e7288%22 stroke-width=%221.184%22%2F%3E%3Cpath d=%22m1554 1282.953 55.497-32.003 55.503 32.003-55.503 32.007-55.497-32.007Z%22 fill=%22%234c4e7244%22 stroke-width=%221.184%22%2F%3E%3C%2Fg%3E%3Cg fill=%22none%22%3E%3Cpath d=%22M1665 1282.953v64.01l55.497 32.007v-64.01L1665 1282.953ZM1720.497 1378.97l55.503-32.007v-64.01l-55.503 32.007v64.01Z%22 stroke-width=%221.184%22%2F%3E%3Cpath d=%22m1665 1282.953 55.497-32.003 55.503 32.003-55.503 32.007-55.497-32.007Z%22 stroke-width=%221.184%22%2F%3E%3C%2Fg%3E%3Cg fill=%22none%22%3E%3Cpath d=%22M1776 1282.953v64.01l55.497 32.007v-64.01L1776 1282.953ZM1831.497 1378.97l55.503-32.007v-64.01l-55.503 32.007v64.01Z%22 stroke-width=%221.184%22%2F%3E%3Cpath d=%22m1776 1282.953 55.497-32.003 55.503 32.003-55.503 32.007-55.497-32.007Z%22 stroke-width=%221.184%22%2F%3E%3C%2Fg%3E%3Cg fill=%22none%22%3E%3Cpath d=%22M55.5 1379.153v64.01l55.497 32.007v-64.01L55.5 1379.153ZM110.997 1475.17l55.503-32.007v-64.01l-55.503 32.007v64.01Z%22 stroke-width=%221.184%22%2F%3E%3Cpath d=%22m55.5 1379.153 55.497-32.003 55.503 32.003-55.503 32.007-55.497-32.007Z%22 stroke-width=%221.184%22%2F%3E%3C%2Fg%3E%3Cg fill=%22none%22%3E%3Cpath d=%22M166.5 1379.153v64.01l55.497 32.007v-64.01l-55.497-32.007ZM221.997 1475.17l55.503-32.007v-64.01l-55.503 32.007v64.01Z%22 stroke-width=%221.184%22%2F%3E%3Cpath d=%22m166.5 1379.153 55.497-32.003 55.503 32.003-55.503 32.007-55.497-32.007Z%22 stroke-width=%221.184%22%2F%3E%3C%2Fg%3E%3Cg fill=%22none%22%3E%3Cpath d=%22M388.5 1379.153v64.01l55.497 32.007v-64.01l-55.497-32.007ZM443.997 1475.17l55.503-32.007v-64.01l-55.503 32.007v64.01Z%22 stroke-width=%221.184%22%2F%3E%3Cpath d=%22m388.5 1379.153 55.497-32.003 55.503 32.003-55.503 32.007-55.497-32.007Z%22 stroke-width=%221.184%22%2F%3E%3C%2Fg%3E%3Cg fill=%22none%22%3E%3Cpath d=%22M832.5 1379.153v64.01l55.497 32.007v-64.01l-55.497-32.007ZM887.997 1475.17l55.503-32.007v-64.01l-55.503 32.007v64.01Z%22 stroke-width=%221.184%22%2F%3E%3Cpath d=%22m832.5 1379.153 55.497-32.003 55.503 32.003-55.503 32.007-55.497-32.007Z%22 stroke-width=%221.184%22%2F%3E%3C%2Fg%3E%3Cg fill=%22none%22%3E%3Cpath d=%22M943.5 1379.153v64.01l55.497 32.007v-64.01l-55.497-32.007ZM998.997 1475.17l55.503-32.007v-64.01l-55.503 32.007v64.01Z%22 stroke-width=%221.184%22%2F%3E%3Cpath d=%22m943.5 1379.153 55.497-32.003 55.503 32.003-55.503 32.007-55.497-32.007Z%22 stroke-width=%221.184%22%2F%3E%3C%2Fg%3E%3Cg fill-rule=%22evenodd%22%3E%3Cpath d=%22M1165.5 1379.153v64.01l55.497 32.007v-64.01l-55.497-32.007Z%22 fill=%22%234c4e7287%22 stroke-width=%221.184%22%2F%3E%3Cpath d=%22m1220.997 1475.17 55.503-32.007v-64.01l-55.503 32.007v64.01Z%22 fill=%22%234c4e725f%22 stroke-width=%221.184%22%2F%3E%3Cpath d=%22m1165.5 1379.153 55.497-32.003 55.503 32.003-55.503 32.007-55.497-32.007Z%22 fill=%22%234c4e722f%22 stroke-width=%221.184%22%2F%3E%3C%2Fg%3E%3Cg fill=%22none%22%3E%3Cpath d=%22M1387.5 1379.153v64.01l55.497 32.007v-64.01l-55.497-32.007ZM1442.997 1475.17l55.503-32.007v-64.01l-55.503 32.007v64.01Z%22 stroke-width=%221.184%22%2F%3E%3Cpath d=%22m1387.5 1379.153 55.497-32.003 55.503 32.003-55.503 32.007-55.497-32.007Z%22 stroke-width=%221.184%22%2F%3E%3C%2Fg%3E%3Cg fill=%22none%22%3E%3Cpath d=%22M1609.5 1379.153v64.01l55.497 32.007v-64.01l-55.497-32.007ZM1664.997 1475.17l55.503-32.007v-64.01l-55.503 32.007v64.01Z%22 stroke-width=%221.184%22%2F%3E%3Cpath d=%22m1609.5 1379.153 55.497-32.003 55.503 32.003-55.503 32.007-55.497-32.007Z%22 stroke-width=%221.184%22%2F%3E%3C%2Fg%3E%3Cg fill=%22none%22%3E%3Cpath d=%22M1831.5 1379.153v64.01l55.497 32.007v-64.01l-55.497-32.007ZM1886.997 1475.17l55.503-32.007v-64.01l-55.503 32.007v64.01Z%22 stroke-width=%221.184%22%2F%3E%3Cpath d=%22m1831.5 1379.153 55.497-32.003 55.503 32.003-55.503 32.007-55.497-32.007Z%22 stroke-width=%221.184%22%2F%3E%3C%2Fg%3E%3Cg fill-rule=%22evenodd%22%3E%3Cpath d=%22M1942.5 1379.153v64.01l55.497 32.007v-64.01l-55.497-32.007Z%22 fill=%22%234c4e727b%22 stroke-width=%221.184%22%2F%3E%3Cpath d=%22m1997.997 1475.17 55.503-32.007v-64.01l-55.503 32.007v64.01Z%22 fill=%22%234c4e7256%22 stroke-width=%221.184%22%2F%3E%3Cpath d=%22m1942.5 1379.153 55.497-32.003 55.503 32.003-55.503 32.007-55.497-32.007Z%22 fill=%22%234c4e722b%22 stroke-width=%221.184%22%2F%3E%3C%2Fg%3E%3C%2Fg%3E%3Cdefs%3E%3CradialGradient id=%22a%22%3E%3Cstop offset=%220%22 stop-color=%22%23fff%22%2F%3E%3Cstop offset=%221%22 stop-color=%22%23fff%22 stop-opacity=%220%22%2F%3E%3C%2FradialGradient%3E%3C%2Fdefs%3E%3C%2Fsvg%3E");


    display: flex;
    /* align-items: center; */
    justify-content: center;
    flex-direction: column;
}
.right-upper{
    display: none;
}
.portfolio{
    padding: 5px 0px 0px 20px;
} 
.menu-btn{
    display: inline-block;
    padding: 20px 20px 0px 0px ;
}
.m-btn {
    width: 125px;
    height: 40px;
    border-radius: 5px;
    border: none;
    transition: all 0.5s ease-in-out;
    font-size: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 600;
    display: flex;
    align-items: center;
    /* background: #040f16; */
    background: rgb(54,60,100);
    color: #f5f5f5;
  }
  
  .m-btn:hover {
    box-shadow: 0 0 20px 0px #2e2e2e3a;
  }
  
  .m-btn .m-icon {
    position: absolute;
    height: 40px;
    width: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.5s;
  }
  
  .m-btn .text {
    transform: translateX(55px);
  }
  
  .m-btn:hover .m-icon {
    width: 150px;
  }
  
  .m-btn:hover .text {
    transition: all 0.5s;
    opacity: 0;
  }
  
  .m-btn:focus {
    outline: none;
  }
  
  .m-btn:active .icon {
    transform: scale(0.85);
  }

.m-container{
    display: flex;
    align-items: center;
    justify-content: right;
    padding: 1px 40px;
    color: white;
}
.m-menu{
    display: flex;
    align-items: center;
    gap: 2rem;
}
.m-menu>:hover{
    cursor: pointer;
}
.menu-icon{
    display: none;
  }
.i-intro {
    font-size: 30px;
    font-weight: 400;
    padding-bottom: 15px;
    color: rgb(118, 177, 221);
}

.i-name {
    font-size: 60px;
    font-family: 'Raleway', sans-serif;
    padding-bottom: 25px;
    color: rgb(255, 255, 255);
    letter-spacing: 2px;
}

.i-title {
    height: 50px;
    padding-top: 50px;
    margin-bottom: 25px;
    overflow: hidden;
}

.i-title-item {
    height: 50px;
    font-size: 30px;
    font-weight: bold;
    color: #59b256;
    display: flex;
    align-items: center;
}

.i-title-wrapper {
    height: 50px;
    animation: move 5s ease-in-out infinite alternate;
}

@keyframes move {
    25% {
        transform: translateY(-50px)
    }

    50% {
        transform: translateY(-100px)
    }

    75% {
        transform: translateY(-150px)
    }

    100% {
        transform: translateY(-200px)
    }
}

.i-desc {
    color: rgb(118, 177, 221);

}

.i-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
}


/* .c-logo:hover{
    color:rgb(11,157,221);
} */
.fa-solid {
    color: rgb(33, 36, 49)
}

.fa-circle:hover {
    color: rgb(11, 157, 221)
}

.i-right-wrapper {
    /* padding: 150px 50px 50px 190px; */
    padding-left: 190px;
    padding-right: 50px;
    
    /* height: 100%; */
    overflow: visible;
    /* display: flex;
    flex-direction: column;
    justify-content: space-between; */
}



.button {
    min-width: 200px;
    min-height: 50px;
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    /* text-transform: uppercase; */
    /* letter-spacing: 1.4px; */
    font-weight: 500;
    color: #000336;
    background: #4FD1C5;
    background: #76B1DD;
    /* background: linear-gradient(90deg, rgba(129, 230, 217, 1) 0%, rgba(79, 209, 197, 1) 100%); */
    border: none;
    border-radius: 1000px;
    /* box-shadow: 8px 8px 24px rgba(79, 209, 197, .44); */
    transition: all 0.3s ease-in-out 0s;
    cursor: pointer;
    outline: none;
    position: relative;
    padding: 10px;
    display: inline-block;
}
.dwnlod{
    margin-top: 15px;
}
.dwnlod button::before {
    content: '';
    border-radius: 0;
    min-width: 220px;
    min-height: 70px;
    border: 5px solid #76B1DD;
    box-shadow: 0 0 40px rgba(118,177,221,0.4);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
    transition: all .3s ease-in-out 0s;
}

.button:hover,
.button:focus {
    color: #000336;
    transform: translateY(-6px);
}

.dwnlod button:hover::before,
.dwnlod button:focus::before {
    opacity: 1;
}

/* .dwnlod button::after {
    content: '';
    width: 30px;
    height: 30px;
    border-radius: 100%;
    border: 5px solid #00FFCB;
    position: absolute;
    z-index: -1;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    animation: ring 1.5s infinite;
} */

.dwnlod button:hover::after,
.dwnlod button:focus::after {
    animation: none;
    display: none;
}
.button-1{
    margin-top: 30px;
    margin-right: 25px;
}
.button-2{
    background-color: transparent;
    /* border: 4px solid #76B1DD; */
    box-shadow:0px 0px 0px 4px #76B1DD inset !important;
    color: #76B1DD;
    margin-top: 30px;
    margin-right: 25px;
}
.button-2:hover{
    color: #76B1DD;
}
.i-s-links{
    display: none;
}
@media (max-width:768px){
    /* .i{
        height:80vh;
    }
   
    .i-right{
        height:100vh;
        padding-left: 0px;
        margin-bottom: 1px;
    } */
    /* .i-right-wrapper{
        height:100vh;
        padding-top: 50px;
    } */
    .i-title-item{
        font-size: 20px;
    }
   
}
@media (max-width:1200px){
    .i-right{
        height:100%;
        padding-left: 0px;
        margin-bottom: 1px;
        overflow-y: hidden;
        overflow-x: hidden;
        justify-content: flex-start;
    }
    .i-right-wrapper{
        padding: 70px 20px 50px 20px;
        height: 100%;
    }
    .right-upper{
        display: block;
        width: 100%;
        align-self:baseline;
        justify-self:start;
    }
    .portfolio{
        display: inline-block;
        margin-top: 14px;
        height: 40px;
    }
    .menu-btn{
        /* display: inline-block; */
        /* padding  */
        float: right;
    }
    .menu-icon{
        color: white;
        display: block;
        float: right;
        padding: 5px 20px 0px 0px;
        margin: 16px 0px 0px 0px;
    }
    .m-menu{
        color: rgb(224, 15, 15);
        position: absolute;
        z-index: 9999;
        top: 4rem;
        right: 7rem;
        background: white;
        flex-direction: column;
        font-weight: 500;
        gap: 2rem;
        padding: 3rem;    
        border-radius: 9px;
        align-items: flex-start;
        transition: all 300ms ease-in-out;
        box-shadow: 0px 4px 4px rgba(0,0,0,0.05);
    }
    .i-intro{
        display: flex;
        /* align-items: center; */
        justify-content: center;
        font-size: 20px;
        /* padding-left: 45px; */
    }
    .i-name{
        display: flex;
        /* align-items: center; */
        justify-content: center;
        font-size: 40px;
        /* padding-left: 45px; */
        padding-top: 15px;
        letter-spacing: 1px;
    }
    .i-title {
        display: flex;
        /* align-items: center; */
        justify-content: center;
        /* padding-left: 45px; */
        padding-top: 15px;
        
    }
    .i-title-item{
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
    }
    .dwnlod{
        margin-top: 70px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .button-a{
        text-decoration: none;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .button-1{
        margin-top: 0;
        margin-right: 10px;
    }
    .button-2{
        margin-top: 0;
        margin-left: 10px;
        margin-right: 0;
    }
    .button {
        
        display: flex;
        align-items: center;
        justify-content: center;
        min-width: 150px;
        min-height: 40px;
        /* font-family: 'Nunito', sans-serif; */
        font-size: 14px;
        font-weight: 600;
    }
    .dwnlod button::before {
        min-width: 170px;
        min-height: 60px;
        border: 4px solid #76B1DD;
    }
    /* .dwnlod button::after {
        content: '';
        width: 30px;
        height: 30px;
        border: 20px solid #00FFCB;
    } */
    .i-s-links{
        margin-top: 80px;
        display: flex;
        align-items: center;
        justify-content: center;
        /* justify-content: center; */
    }
    .i-s-links-h {
        font-size: 26px;
        font-weight: 700;
        color: #efdddd;
        background-color: #2B3044;
        border: none;
        outline: none;
        cursor: pointer;
        padding: 8px 13px 4px 13px;
        margin: 0px 15px;
        position: relative;
        border-radius: 9px;
        box-shadow: 0px 1px 2px #2B3044,
          0px 4px 16px #2B3044;
        transform-style: preserve-3d;
        transform: scale(var(--s, 1)) perspective(600px)
          rotateX(var(--rx, 0deg)) rotateY(var(--ry, 0deg));
        perspective: 600px;
        transition: transform 0.1s;
      }
      
      .sp {
        display: block;
        text-decoration: none;
        color: #efdddd;
      }
      
      .i-s-links-h:active {
        transition: 0.3s;
        color: #efdddd;
        transform: scale(0.93);
        text-decoration: none;
      }
      .i-s-links-h:visited {
        color: #efdddd;
        text-decoration: none;
      }
      .i-title-wrapper {
        animation: move1 8s ease-in-out infinite alternate;
    }
    
    @keyframes move1 {
      25% {
        transform: translateY(-65px);
    }
    50% {
        transform: translateY(-115px);
    }
    75% {
        transform: translateY(-165px);
    }
    100% {
        transform: translateY(-215px);
    }
}
}

html.lenis{height:auto}.lenis.lenis-smooth{scroll-behavior:auto}.lenis.lenis-smooth [data-lenis-prevent]{overscroll-behavior:contain}.lenis.lenis-stopped{overflow:hidden}.lenis.lenis-scrolling iframe{pointer-events:none}